* {

}

html,body {
  height: 100%;
  width: 100%;
}

.outer_container {
  height: inherit;
  width: inherit;

  position: relative;
}

.inner_container {
  height: 80%;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pixel_array {
  height: 80%;
  width: 95%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.row {
  height: auto;
  width: inherit;

  display: flex;
  justify-content: center;;
}

.pixel {
  border: 1px solid black;
  min-height: .4em;
  min-width: .4em;
  max-height: .5em;
  max-width: .4em;
  flex: 1;
}

.controls {
  height: 15%;
  width: 80%;

  border: 1px solid black;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 220%);
}

.color_table {
  height: 95%;
  width: 80%;
  display: flex;
  border: 1px solid black;
}

.color_choice {
  border-radius: 50%;
  border: 1px solid black;
  flex: 1;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.purple {
  background-color: purple;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.gray {
  background-color: gray;
}
.teal {
  background-color: teal;
}
.coral {
  background-color: coral;
}
.khaki {
  background-color: khaki;
}
